
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px;">
          Institution Settings
        </mat-panel-title>
        <mat-panel-description >
          Type details about your Institution  
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form  class="normal-form">
      <mat-grid-list cols="3" rowHeight="4:2.5">
      <mat-grid-tile>
        <div class="controls-contailer">
         <mat-form-field>
          <mat-label>First name</mat-label>
           <input matInput type="text">
         </mat-form-field>
         <mat-form-field>
           <mat-label>Age</mat-label>
           <input matInput type="number"  min="1">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput type="text">
        </mat-form-field>
        </div>
      </mat-grid-tile>
      </mat-grid-list>
      </form>
    </mat-expansion-panel>
   

  


